/* F O N T S */
@font-face {
    font-family: fuente-firma;
    src: url(../../resources/fonts/Extra/Pencerio-Hairline.ttf);
}

@font-face {
    font-family: fuente-textos;
    src: url(../../resources/fonts/Aileron/Aileron-Light.otf);
}

@font-face {
    font-family: fuente-titulos;
    src: url(../../resources/fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
    font-family: fuente-tarjetas;
    src: url(../../resources/fonts/Amulya_Complete/Fonts/OTF/Amulya-Medium.otf)
}

@font-face {
    font-family: fuente-detalles;
    src: url(../../resources/fonts/Poppins/Poppins-Light.ttf);
}

/* H E R R A M I E N T A S */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: fuente-detalles;
}

img {
    user-select: none;
}

.pointer {
    cursor: pointer;
}

:root {
    --seleccion: #ffffff;
    --fondo-color-1: #222831;
    --fondo-color-2: #29303b;
    --fondo-color-3: #1a1f25;
    --fondo-color-4: #2e3642;
    --tabla-color-1: #EEEEEE;
    --tabla-color-2: rgb(238, 238, 238);
    --letra-color-1: #EEEEEE;
    --letra-color-2: #666;
    --letra-color-3: #000;
    --letra-color-4: #234567;
    --letra-color-5: #666;
    --detalles-color-1: rgb(0, 233, 233);
    --detalles-color-2: #0082b5;
    --detalles-color-3: #b1dae7;
    --tarjeta-color-1: #EEEEEE;
    --sombra-color-1: rgba(100, 100, 111, 0.2);
}

html {
    overflow: hidden !important;
}

.fondo {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -10;
    display: flex;
    justify-content: center;
    min-width: 600px;
    display: none;
}

::selection {
    color: var(--fondo-color-1) !important;
    background-color: var(--letra-color-1) !important;
}

/* A N I M A C I O N E S */
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* S I D E B A R   M O V I M I E N T O */



/* L O G O   F I J O */
.logo-fijo {
    background: var(--fondo-color-1);
    height: 75px;
    width: 100%;
    position: fixed;
    top: -75px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    padding-left: 40px;
}

.logo-fijo-bajar {
    top: 0;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}

.logo-fijo .logo {
    width: 3rem;
}

.logo-fijo .nombre {
    margin: 0 0 0 .5rem;
    width: 10rem;
}

@media (min-width: 1005px) {

    .logo-fijo,
    .logo-fijo * {
        display: none;
    }

}

/* S I D E B A R   C O N T E N T */
.sidebar-wrapper {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 2;
    background-color: var(--fondo-color-1);
    user-select: none;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}

.sidebar-content {
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}


/* S I D E B A R   H E A D E R */
.sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 75px;
}

#close-sidebar {
    cursor: pointer;
    font-size: 1rem;
    color: var(--letra-color-1);
}

#close-sidebar:hover {
    color: red;
}


/* S I D E B A R   U S E R */
.sidebar-header {
    padding: 20px;
    background-color: var(--fondo-color-4);
}

.user-pic {
    float: left;
    width: 70px;
    height: 70px;
    padding: 2px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--letra-color-1);
}

.user-pic img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.user-info {
    float: left;
    color: var(--letra-color-1);
}

.user-info>span {
    display: block;
}

.sidebar-header>span {
    margin-top: .5rem;
    color: var(--letra-color-5);
    font-size: .8rem;
}

.user-role {
    color: rgb(200, 200, 200) !important;
    font-family: fuente-detalles !important;
}


/* S I D E B A R   N A V */

.sidebar-menu {
    padding-bottom: 15px;
}

.header-menu span {
    font-weight: bold;
    font-size: 15px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
    color: var(--letra-color-1) !important;
}

.all-accounts {
    margin-bottom: .8rem !important;
}

.sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 8px 30px 8px 20px;
    position: relative;
}

.sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-menu ul li a:hover>i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
    color: var(--detalles-color-1);
    text-shadow: 0px 0px 10px var(--detalles-color-1);
    -webkit-animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-menu ul li:hover span {
    color: var(--detalles-color-1);
}

.sidebar-menu li a i,
.sidebar-menu li a span {
    color: var(--letra-color-1);
}

.sidebar-menu-active i {
    color: var(--detalles-color-1) !important;
    text-shadow: 0px 0px 10px var(--detalles-color-1) !important;
}

.all-accounts.coloreado a {
    color: var(--detalles-color-1) !important;
    text-shadow: 0px 0px 10px var(--detalles-color-1) !important;
}

.active-account * {
    color: var(--detalles-color-1) !important;
    text-shadow: 0px 0px 10px var(--detalles-color-1) !important;
}

.sidebar-menu-active .nombre-li {
    color: var(--detalles-color-1) !important;
}

.sidebar-dropdown>a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}

.sidebar-submenu ul {
    padding: 11px 0 0;
    background-color: var(--fondo-color-3);
}

.sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
    color: var(--letra-color-1);
}

.sidebar-submenu li a {
    color: var(--letra-color-2);
}

.sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}

.sidebar-submenu {
    display: none;
}

.sidebar-menu .sidebar-dropdown>a {
    color: transparent;
}

hr {
    color: var(--fondo-color-2);
}

/* P A G I N A */

.page-content {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    padding: 0 2rem 2rem 282px;
}

/* S C R O L L */

::-webkit-scrollbar {
    display: none;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a span,
.sidebar-submenu li a:hover {
    color: var(--detalles-color-1);
    text-shadow: 0px 0px 10px var(--detalles-color-1);
}


/* P A G E   C O N T E N T */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.logo-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}

.logo-index .logo {
    width: 10rem;
}

.logo-index .nombre {
    width: 20rem;
    margin: 1rem 0 0;
}

@media (max-width:355px) {
    .logo-index .logo {
        width: 8rem;
    }

    .logo-index .nombre {
        width: 15rem;
        margin: 1rem 0 0;
    }
}

.logo-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-nav .logo {
    width: 3.5rem;
}

.logo-nav .nombre {
    margin: 0 0 0 .5rem;
    width: 9rem;
}

h1 {
    font-family: fuente-titulos;
}

.hidden {
    overflow: hidden !important;
}

.titulo-home * {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 !important;
}

.titulo-home h1 {
    font-size: 2.2rem !important;
}

.titulo-home h2 {
    font-size: 1.2rem !important;
}

.subtitulo {
    margin: 1rem 0;
}

.subtitulo h4 {
    margin: 0;
    color: var(--letra-color-1);
}

.titulo {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 1rem;
    padding: 0 !important;
}

.titulo.contact * {
    text-align: center;
}

.titulo h1 {
    font-size: 3rem;
    color: var(--letra-color-1);
    font-weight: 700;
}

.titulo h2 {
    margin: 0 0 1rem;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 467px) {


    .titulo-home {
        margin-top: 3rem !important;
    }
}

@media (max-width: 600px) {

    .buttons.transactions {
        font-size: .7rem !important;
    }

    .titulo h1 {
        font-size: 2.2rem !important;
    }

    .titulo h2 {
        font-size: .9rem !important;
    }

}

@media (max-width: 400px) {

    .buttons.transactions {
        font-size: .6rem !important;
    }

}

.v-if {
    color: var(--letra-color-1);
}

h2,
h5 {
    color: var(--letra-color-1);
}

.texto-inicio {
    width: 60%;
    margin: 0 1rem;
}

.texto-inicio h2 {
    font-size: 2.3rem;
    font-weight: 700;
    font-family: fuente-titulos;
}

.texto-inicio h5 {
    font-size: 1.3rem;
    font-weight: 400;
}

.div-index {
    margin: 1rem 1rem 3rem !important;
}

.logo-home-texto {
    margin: 22vh 0;
    height: auto;
}

.logo-home-texto h2 {
    font-size: 2rem;
}

.logo-home-texto h1 {
    font-size: 3.5rem !important;
    font-weight: 100;
    margin-bottom: 1rem !important;
}

.card-index-container {
    padding-top: 0 !important;
}

@media (max-width: 976px) {
    .titulo {
        margin-bottom: 2rem;
    }
}

@media (max-width: 862px) {
    .texto-inicio h2 {
        font-size: 1.8rem;
    }

    .texto-inicio h5 {
        font-size: 1.2rem !important;
    }
}

@media (max-width: 862px) {
    .texto-inicio h2 {
        font-size: 1.8rem;
    }

    .texto-inicio h5 {
        font-size: .8rem;
    }
}

@media (max-width: 875px) {

    .div-index.izq {
        display: flex;
        flex-wrap: wrap-reverse;
        margin: 2rem 0;
    }

    .div-index.der {
        display: flex;
        flex-wrap: wrap;
        margin: 2rem 0;
    }

    .div-index {
        justify-content: center !important;
    }

    .card-index {
        margin-top: 2rem !important;
    }

    .texto-inicio {
        text-align: center;
        width: 100%;
    }

}

@media (max-width: 810px) {

    .logo-home-texto h1 {
        font-size: 2.2rem !important;
    }

    .logo-home-texto h2 {
        font-size: .9rem !important;
    }
}

@media (max-width: 664px) {

    .div-h1 {
        margin-bottom: 0;
    }

    .div-h1 h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 545px) {
    .logo-home-texto {
        margin-bottom: 5rem;
    }
}

@media (max-width: 416px) {
    .div-h1 h1 {
        font-size: 2rem;
    }

    .logo-home-texto h2 {
        font-size: 1.5rem;
    }

    .logo-home-texto {
        margin-bottom: 0;
        padding-bottom: 0 !important;
    }

    .card-index,
    .blob {
        margin: 1rem auto 0 !important;
    }

    .div-index {
        justify-content: center !important;
    }
}

@media (max-width: 342px) {
    .div-h1 h1 {
        font-size: 1.5rem;
    }
}


/* C A R D S */
.accounts {
    padding: 0;
    color: var(--letra-color-1);
    user-select: none;
    margin-top: 2rem;
}

.accounts * {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.accounts li {
    list-style: none;
    text-align: center;
    margin: 1rem .5rem;
    background: var(--fondo-color-1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px 10px;
    height: 250px;
    width: 31%;
    min-width: 248px;
}

@media (max-width: 880px) {
    .accounts {
        justify-content: center;
    }

    .accounts li {
        width: 240px !important;
        min-width: 240px !important;
        max-width: 240px !important;
    }
}

.accounts .circle {
    position: relative;
    width: 95px;
    height: 95px;
    font-size: 13px;
    line-height: 95px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: auto;
    background: var(--detalles-color-2);
}

.accounts li:hover .circle {
    background-color: var(--detalles-color-1);
}

.accounts .sign a i {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.accounts li:hover .sign a,
.accounts li:hover .sign a i {
    color: var(--detalles-color-1);
}

.accounts .top {
    height: auto;
    padding: 0 30px;
}

.accounts .top h3 {
    margin: 0;
    font-size: 1.5rem;
    user-select: all;
    font-family: fuente-titulos;
    cursor: pointer;
}

.accounts .bottom p {
    font-size: 12px;
    margin: 0;
    margin: 10px 20px 0;
}

.accounts .sign .a-accounts {
    padding: 5px 10px;
    border-bottom: none;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    color: var(--detalles-color-2);
    font-family: fuente-titulos;
}

/* L O A N S */
.loans {
    width: 100%;
    padding: 0;
    color: var(--letra-color-1);
    user-select: none;
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-top: 3rem;
}

.loans * {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.loans li {
    list-style: none;
    text-align: center;
    margin: .5rem;
    background: var(--fondo-color-1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px 10px;
    min-width: 29%;
    max-width: 31%;
}

.loans .circle {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: var(--detalles-color-2);
    margin: 0 auto 1rem;
}

.accounts li:hover .circle {
    background-color: var(--detalles-color-1);
}

.top {
    height: auto;
    padding: auto;
}

.top h3 {
    margin: 0;
    font-size: 2rem;
    user-select: none;
    font-family: fuente-titulos;
}

.bottom p {
    font-size: 13px;
    margin: 0;
}

@media (max-width: 820px) {

    .loans {
        display: flex;
        justify-content: center;
    }

    .loans li {
        width: 220px !important;
        min-width: 220px;
        max-width: 220px;
        margin-top: 2rem;
    }
}

@media (max-width:400px) {
    .top h3 {
        font-size: 2rem;
    }

    .bottom p {
        font-size: 12px;
    }
}

@media (max-width:330px) {
    .top h3 {
        font-size: 1.9rem;
    }

    .bottom p {
        font-size: 10px;
    }

    .loans .circle {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 10px;
    }
}


/* C R E D I T   C A R D */
.card {
    width: 370px;
    height: 233px;
    background: transparent;
    border: none;
    user-select: none;
    color: white;
    margin: 1rem;
}

.card * {
    font-family: fuente-tarjetas !important;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 600ms ease;
    -webkit-transition: transform 600ms ease;
    -moz-transition: transform 600ms ease;
    -ms-transition: transform 600ms ease;
    -o-transition: transform 600ms ease;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 300ms ease-in-out;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.card-front {
    background-image: url(/resources/tarjetas/Letras-Claras.png);
}

.card-inner.none .card-front {
    background: rgb(66, 66, 66);
    background: linear-gradient(90deg, rgba(66, 66, 66, 1) 0%, rgba(173, 173, 173, 1) 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.silver .card-front {
    background-image: url(/resources/tarjetas/silver-frente.png);
}

.gold .card-front {
    background-image: url(/resources/tarjetas/gold-frente.png);
}

.titanium .card-front {
    background-image: url(/resources/tarjetas/titanium-frente.png);
}

.card-back {
    transform: rotateY(180deg);
}

.card-inner.none .card-back {
    background: rgb(66, 66, 66);
    background: linear-gradient(90deg, rgba(66, 66, 66, 1) 0%, rgba(173, 173, 173, 1) 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.silver .card-back {
    background-image: url(/resources/tarjetas/silver-opuesto.png);
}

.gold .card-back {
    background-image: url(/resources/tarjetas/gold-opuesto.png);
}

.titanium .card-back {
    background-image: url(/resources/tarjetas/titanium-opuesto.png);
}

.card-front .number {
    position: absolute;
    top: 110px;
    font-size: 2rem;
    text-align: center;
}

.card-front .card-holder {
    position: absolute;
    bottom: 22px;
    left: 20px;
    font-size: 1.3rem;
}

.card-front .color {
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: .55rem;
}

.card-front .type {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.1rem;
}

.card-front .from-date {
    position: absolute;
    bottom: 50px;
    right: 165px;
    font-size: .8rem;
}

.card-back .cvv {
    position: absolute;
    top: 87px;
    right: 28px;
    font-size: .9rem;
}

.card-back .firma {
    font-family: fuente-firma !important;
    color: black;
    position: absolute;
    top: 84px;
    left: 77px;
    font-size: 1.3rem;
    font-weight: 900;
}

/* @media (max-width: 700px) { */

.card {
    width: 280px;
    height: 176px;
    margin: .5rem;
}

.card-front .number {
    top: 85px;
    left: 15px;
    right: 15px;
    font-size: 1.45rem;
}

.card-front .card-holder {
    top: 135px;
    left: 15px;
    font-size: 1rem;
}

.card-front .color {
    bottom: 5px;
    left: 15px;
    font-size: .5rem;
}

.card-front .type {
    top: 18px;
    right: 15px;
    font-size: .7rem;
}

.card-front .from-date {
    bottom: 37px;
    right: 110px;
    font-size: .6rem;
}

.card-back .cvv {
    top: 66px;
    right: 22px;
    font-size: .7rem;
}

.card-back .firma {
    top: 63px;
    left: 60px;
    font-size: 1rem;
}



/* C A R D   I N D E X */
.card-index {
    width: 190px;
    height: 254px;
    background: var(--tabla-color-2);
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
    padding: 0 !important;
    user-select: none;
}

a.cta::before {
    width: 190px !important;
}

.der {
    margin: 0 2rem;
}

.izq {
    margin: 0 2rem;
}

.card-index:hover {
    background-color: transparent;
}


.card-index .img {
    display: flex;
    margin: 30px auto 10px auto;
    width: 100px;
    height: 100px;
    background-color: var(--fondo-color-2);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: .2rem;
}

.card-index:hover .img {
    width: 90%;
    height: 70%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: transparent;
    z-index: 9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 0;
    margin-top: .5rem;
}


.card-index h2 {
    padding: 15px 10px;
    font-size: 23px;
    transition: all 0.1s;
    z-index: -2;
    line-height: 17px;
    font-family: fuente-titulos;
}

.card-index:hover h2 {
    display: none;
}

.card-index>p {
    opacity: 0;
    transition: all 0.75s;
}

.card-index>p>svg {
    padding: 5px;
}

.card-index :hover>p {
    position: absolute;
    bottom: 15px;
    left: 35px;
    opacity: 1;
    transition: all 0.1s;
}

.hover {
    color: var(--tabla-color-2);
    display: none;
}

.card-index:hover .hover {
    display: block;
    color: var(--tabla-color-2);
}


/* B O T O N   I N D E X */
.cta {
    margin: auto;
    padding: 5px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    width: 190px;
    height: auto;
    text-decoration: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    display: block;
    background: transparent;
    width: 100%;
    height: 45px;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0;
    color: var(--letra-color-1);
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--letra-color-1);
    stroke-width: 2;
    transform: translateX(-3);
    -webkit-transform: translateX(-3);
    -moz-transform: translateX(-3);
    -ms-transform: translateX(-3);
    -o-transform: translateX(-3);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.cta:hover svg {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.div-h2 h2 {
    margin: .5rem 0 0;
    padding: 0;
    color: var(--fondo-color-2);
}

.div-h2 {
    margin: 1rem 0 1.5rem;
}

.div-h2-transactions {
    margin: 1rem 0 0 !important
}

.cta-transactions span {
    text-align: center;
}

.mas-margin-top {
    margin-top: 2rem;
}

/* C O N T A C T */
.form {
    padding: 1 0px;
    max-width: 600px;
    margin: 40px auto 0;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    border: 2px solid var(--tabla-color-2);
    color: var(--letra-color-1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input::placeholder,
textarea::placeholder {
    color: white;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #1f2029b0;
}

textarea {
    resize: none;
}

.field-wrap {
    margin-bottom: 20px;
}


.top-row>div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row>div:last-child {
    margin: 0;
}

.swal-modal .swal-text {
    width: 20rem;
}

@media (max-width: 490px) {

    input,
    textarea {
        font-size: 1rem;
    }

}

@media (max-width: 311px) {

    input,
    textarea {
        font-size: .9rem;
    }

}


/* L O A D E R */
@keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
    }
}

@keyframes fade {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#onload {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--fondo-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 912;
}

#onload img {
    width: 10rem;
}

#container p {
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.5px;
    text-align: center;
    width: 155px;
    margin-top: 20px;
    animation: fade 2s infinite;
    -webkit-animation: fade 2s infinite;
    -moz-animation: fade 2s infinite;
}

#container {
    margin: 0 0 0 1.1rem;
}

.stick {
    width: 30px;
    height: 3px;
    background: white;
    display: inline-block;
    margin-left: -8px;
}

.stick:nth-child(n) {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    animation: fall 2s infinite;
    -webkit-animation: fall 2s infinite;
    -moz-animation: fall 2s infinite;
}

.stick:nth-child(2n) {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    animation: rise 2s infinite;
    -webkit-animation: rise 2s infinite;
    -moz-animation: rise 2s infinite;
}

/* A L E R T A S */
.swal2-cancel,
.swal2-confirm {
    margin: 1rem;
    width: 6.5rem !important;
}

.swal2-icon.swal2-info.swal2-icon-show {
    content: url(../../resources/logo/logo-claro-primera-vez.png);
    width: 20rem !important;
    height: auto !important;
    border: none !important;
    margin-bottom: -1rem;
    margin-top: 1rem;
}

.swal2-modal {
    background-color: var(--fondo-color-2) !important;
    color: var(--letra-color-1) !important;
}

#margen-abajo-11 {
    margin-bottom: 11px !important;
}

.color-cards a {
    color: var(--detalles-color-1) !important;
    text-shadow: 0px 0px 10px var(--detalles-color-1);
}

optgroup {
    background: var(--fondo-color-1);
    color: var(--letra-color-1);
    font-weight: bold;
}

option {
    background-color: var(--fondo-color-1);
}

form.form-cards {
    width: 100%;
    height: auto;
    margin: 0 !important;
}

.selects {
    display: flex;
    justify-content: center;
}

@media (max-width: 450px) {
    form.form-cards select {
        width: 120px;
        height: 90%;
    }
}

span.color {
    bottom: 0;
}

.div-create-cards {
    margin-top: 3rem;
}

.div-selects {
    width: 30%;
}

.form-cards select {
    width: 10rem;
    margin: 0 1rem 1rem;
    height: 55px;
    background: #1f2029;
    color: var(--letra-color-1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    padding: 0 5px;
    border: .5px solid rgba(255, 255, 255, 0.1) !important;
}


/* L O G   I N - R E G I S T E R */
.card-3d-wrapper input {
    cursor: pointer;
    font-size: 15px;
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid var(--tabla-color-2);
    color: var(--letra-color-1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 1rem 0 !important;
    transition: border-color .25s ease, box-shadow .25s ease;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    -moz-transition: border-color .25s ease, box-shadow .25s ease;
    -ms-transition: border-color .25s ease, box-shadow .25s ease;
    -o-transition: border-color .25s ease, box-shadow .25s ease;
    border: .5px solid rgba(255, 255, 255, 0.1) !important;
}

.card-3d-wrapper input::placeholder {
    color: white;
}

.card-3d-wrapper input:focus {
    outline: 0;
    border-color: var(--detalles-color-1);
    cursor: auto;
}

.section {
    margin: 1.5rem 0 0 !important;
    color: var(--letra-color-1);
}

.section h6 {
    margin: 0;
}

[type="checkbox"] {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    padding: 0;
    margin: 30px;
    cursor: pointer;
    background-color: var(--detalles-color-1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    color: var(--detalles-color-1);
    background-color: var(--detalles-color-2);
    content: '';
    z-index: 1;
    top: -10px;
    left: -10px;
    transition: all 0.5s ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.checkbox:checked+label:before {
    transform: translateX(44px);
    -webkit-transform: translateX(44px);
    -moz-transform: translateX(44px);
    -ms-transform: translateX(44px);
    -o-transform: translateX(44px);
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0 auto;
}

.card-3d-wrapper {
    margin-top: -2.3rem;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 600ms ease-out;
    -webkit-transition: all 600ms ease-out;
    -moz-transition: all 600ms ease-out;
    -ms-transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
}

.log-in {
    width: 100%;
    height: 100%;
    background-color: var(--fondo-color-1);
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 22% 0 !important;
}

.register {
    transform: rotateY(180deg);
}

.card-3d-wrap .giro {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    z-index: 1;
    display: block;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    -webkit-transform: translate3d(0, -50%, 35px) perspective(100px);
    -moz-transform: translate3d(0, -50%, 35px) perspective(100px);
    -ms-transform: translate3d(0, -50%, 35px) perspective(100px);
    -o-transform: translate3d(0, -50%, 35px) perspective(100px);
}

.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-style {
    margin: 1rem 0;
    padding: 15px 20px 15px 55px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    border: none;
    background-color: #1f2029;
    transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
}

.form-style:focus,
.form-style:active {
    background: #1f2029b0;
}

.input-icon {
    position: absolute;
    top: 3px;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: var(--detalles-color-1);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.input-icon.a {
    left: 21px;
}

p.input-icon {
    margin: 0;
    user-select: none;
    font-size: 1.3rem;
    top: 3px;
    left: 12px;
}

.nombre-apellido .form-style {
    margin: 0 !important;
}

.swal2-modal {
    background-color: var(--fondo-color-2) !important;
    color: var(--letra-color-1) !important;
}

.card-3d-wrapper input#regLastName {
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border-left: none !important;
}

.card-3d-wrapper input#regName {
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-right: none !important;
}

.card-3d-wrapper h4 {
    margin-bottom: 1.5rem;
    font-family: fuente-titulos;
}

h6.h6 {
    color: var(--letra-color-1);
    font-family: fuente-titulos;
    text-align: center;
    margin: 0;
}

@media (max-width: 500px) {
    h6.h6 {
        display: none;
    }

    h6.h6-2 {
        display: block !important;
    }
}

.botonsito {
    margin: 2rem 0;
    padding: 0 !important;
}

.form-group select {
    width: 100%;
    height: 55px;
    background: none;
    color: var(--letra-color-1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    padding: 0 5px 0 60px;
    border: .5px solid rgba(255, 255, 255, 0.1) !important;
    appearance: none;
    cursor: pointer;
}

.form-group select:focus {
    background-color: #1f2029b0;
}

.log-in select {
    margin-bottom: 16px;
    height: 55px !important;
}


/* S I D E B A R   C H I C O */
#sidebar-chico {
    width: 70px;
    left: 0;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.logo-nav .logo-chico {
    width: 3rem;
}

.sidebar-brand-chico {
    padding: 0 11px;
}

.sidebar-header-chico {
    padding: 10px;
}

.sidebar-header-chico .user-pic {
    width: 50px;
    height: 50px;
    margin: 0 !important;
}

.sidebar-content-chico ul {
    margin-top: 16px;
}

#sidebar-chico,
#sidebar {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;

}

#close i {
    font-size: 1.4rem;
    margin: 0 25px 15px;
    color: var(--letra-color-1);
}

#close a:hover i,
#open-button:hover i {
    color: var(--detalles-color-1) !important;
    text-shadow: 0px 0px 10px var(--detalles-color-1);
    animation: swing ease-in-out 0.5s 1 alternate;
    -webkit-animation: swing ease-in-out 0.5s 1 alternate;
}

#open-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: var(--fondo-color-1);
    font-size: 1.2rem;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    top: 0px;
    right: 7px;
    z-index: 100;
    padding: 7px 12px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    border: solid var(--fondo-color-2) 1px;
}

#open-button i {
    color: var(--letra-color-1) !important;
}

#open-button.esconder {
    top: -40px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

/* APLICACION DE LO DE ARRIBA */
@media (max-width: 1000px) {
    #sidebar {
        display: none;
    }

    #sidebar-chico {
        display: block !important;
    }

    .page-content {
        padding: 0 2rem 2rem 102px;
    }
}

@media (max-width: 700px) {
    #sidebar-chico.esconder {
        left: -70px;
    }

    .page-content {
        padding: 0 2rem 2rem;
    }

    #close {
        display: block !important;
    }

    #open-button {
        display: block !important;
    }

}

@media (max-width: 500px) {

    .page-content {
        padding: 0 1rem 2rem;
    }

}

/* B O T O N E S */

.buttons {
    color: var(--letra-color-1);
    border: solid var(--letra-color-1) 1px;
    background-color: transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 8px 13px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    user-select: none;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.buttons:hover,
.buttons:focus,
.buttons:active,
.buttons::after,
.buttons::before {
    color: var(--letra-color-1);
    background-color: var(--detalles-color-1);
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.buttons.transactions {
    font-size: .8rem;
    background: none;
    border: none !important;
    padding: 0;
    text-decoration: underline !important;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    margin: 0;
}

.buttons.transactions:hover {
    color: var(--detalles-color-1);
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

@media (max-width: 540px) {

    .buttons {
        font-size: .8rem !important;
    }

    .titulo {
        margin-bottom: 0;
    }


}

.form-group.one .fa-chevron-left,
.form-group.two .fa-chevron-left,
.form-group.three .fa-chevron-left,
.form-group.four .fa-chevron-left,
.form-group.five .fa-chevron-left,
.form-group.six .fa-chevron-left {
    position: absolute;
    bottom: 35px;
    right: 15px;
    z-index: 100;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.form-group.three .fa-chevron-left {
    bottom: 20px;
}

.form-group.one select:focus~.fa-chevron-left,
.form-group.two select:focus~.fa-chevron-left,
.form-group.three select:focus~.fa-chevron-left,
.form-group.four select:focus~.fa-chevron-left,
.form-group.five select:focus~.fa-chevron-left,
.form-group.six select:focus~.fa-chevron-left {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

#sidebar,
#open-button {
    opacity: 0.8;
}

#destiny {
    margin-top: 0 !important;
}

.switch {
    font-size: 15px;
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 1.8rem;
    margin: 0 1rem 0 .5rem;
}


.switch input {
    background-color: transparent;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(120deg, var(--detalles-color-2), var(--detalles-color-2));
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.3em;
    bottom: 0.3em;
    background-color: #dde4eb;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input:checked+.slider {
    background-color: transparent;
}

input:checked+.slider:before {
    transform: translateX(1.7rem);
    -webkit-transform: translateX(1.7rem);
    -moz-transform: translateX(1.7rem);
    -ms-transform: translateX(1.7rem);
    -o-transform: translateX(1.7rem);
}

.seleccion-direccion h5 {
    margin: 0;
}

.log-in .buttons {
    margin: 0;
}

.div-switch {
    margin-bottom: 1rem;
}

.div-switch h6 {
    font-size: .7rem;
}

@media (max-width: 460px) {

    .log-in input,
    .log-in select {
        font-size: .8rem;
    }

    .slider::before {
        height: 1rem;
        width: 1rem;
    }

    .switch {
        width: 3rem;
        height: 1.6rem;
    }

    input:checked+.slider:before {
        transform: translateX(1.35rem);
        -webkit-transform: translateX(1.35rem);
        -moz-transform: translateX(1.35rem);
        -ms-transform: translateX(1.35rem);
        -o-transform: translateX(1.35rem);
    }

    .log-in .buttons {
        font-size: .8rem;
        font-weight: 700;
        letter-spacing: 0;
        padding: 8px 15px;
    }

}

.accounts,
.loans {
    margin-top: .5rem;
}

.titulo {
    margin-bottom: .5rem;
}

.selects select {
    height: 2.5rem;
}

.no-prestamos {
    margin: 2rem 0;
}

.no-prestamos * {
    font-size: 20px !important;
}


/* T A B L A S */
table {
    border-collapse: collapse;
    margin: 1rem 0 2rem;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

table th,
table td {
    padding: 0;
    text-align: left;
    width: auto;
    padding: 10px 15px;
    color: var(--letra-color-1);
}

table td {
    background-color: #1a1f2579;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 620px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: none;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}


body {
    background: rgb(34, 40, 49);
    background: linear-gradient(90deg, rgba(34, 40, 49, 1) 0%, rgba(34, 40, 49, 1) 45%, rgba(0, 0, 0, 1) 100%);
}